<h1>Articles Index</h1>

<% @articles.each do |a| %>
	<h3><%= a.title %></h3><br>
	<p><%= a.text %></p><br>
<% end %>

<%= link_to "New Post", new_article_path %><br>
<%= link_to "Back", root_path %>
